@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a list of Employees</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var employee in Model.employees)
            {
                <tr>
                    <th scope="row">@employee.EmployeeID</th>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                </tr>
            }

        </tbody>
    </table>
</div>